/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.header {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	text-shadow: 2px 2px #C0C0C0;
	font-size: 20px;
}

#categories {
	font-size:17px;
	Lucida Sans Unicode, Lucida Grande, sans-serif; 
	border-radius: 5px;
	background-color: #FFCC73;
}

.footer {
	padding:30px;
	background-color:#f4f4f4;
}

#map_canvas {
	width: 500px;
	height: 400px;
}