/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.product-bubble {
	border: 2px solid gray;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	width: 30%;
	height: 170px;
	background-color: #FFCC00
}

h1 {
	border: 2px solid gray;
	border-radius: 10px;
	width: 100%;
	height: 50px;
	padding: 10px;
	background-color: #FF9900
}
.cats {
	border: 2px solid gray;
	border-radius: 10px;
	width: 30%;
	height: 30px;
	padding: 10px;
	background-color: #FF9900;
}

.price {
	text-align: center;
	font-size: 17px;
	width: 100px;
	background-color: #FF6600

}

