/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.product-bubble {
	border: 2px solid gray;
	border-radius: 10px;
	padding: 10px;
	display: inline-block;
	width: 30%;
	height: 170px;
	background-color: #FFCC00
}

h1 {
	border: 2px solid gray;
	border-radius: 10px;
	width: 100%;
	height: 30px;
	padding: 10px;
	background-color: #FF9900;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	text-shadow: 2px 2px #C0C0C0;
	font-size: 40px;
}
.cats {
	border: 2px solid gray;
	border-radius: 10px;
	width: 50%;
	height: 30px;
	padding: 10px;
	background-color: #FF9900;
}

.price {
	text-align: center;
	font-size: 17px;
	width: 100px;
	background-color: #FF9900

}

.cart {
	position:absolute;
	width:200px;
	right:10px;
	background-color:#fff;
	padding:4px;
	border-radius:10px;
	border:solid #03899C
}

.cart-panel {
	position:relative;
}

#cart_detail_panel {
	display:none;
}

#cart_total {
	text-align: :right;
	font-weight: :bold;
}
